* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sun {
    height: 100px;
}

html {
    background-color: orange;
}

body {
    background-color: white;
    margin: 80px;
    border-radius: 24px;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-family: 'Abril Fatface', cursive;
}

.userinput {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    flex-wrap: wrap;
}

#btn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
}

input {
    border: none;
    border-radius: 8px;
    height: 34px;
    background-color: lightgrey;
    font-family: 'Montserrat', sans-serif;
}